@font-face  {
  font-family: 'list-icons';
  src: url(../fonts/icomoon.svg#icomoon) format('svg'),
          url('../fonts/icomoon.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

#root{

}
.list-icon{
  font-family: 'list-icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.list-icon:before{
  content: '\e901';
}
.fav-icon {
  font-family: 'list-icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.fav-icon:before{
  content: '\e9da';
}
.main {
  display: flex;
  justify-content: space-around;
}
#main-header {
  font-size: 40px;
  font-weight: normal;
}
.header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content:center;
}

.header-2{
  margin-left: 36.5%;
  max-width: 400px;
  margin-bottom: 10px;
}

.head-page {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 300px;
  height: 50px;
}

@media (max-width:991px) {
  .mediaTop {
    top: 670px;
  }

  .pok-info {
    position: absolute;
  }

  .card {
    height: 30%;
    max-width: 30% !important;
  }
}

  @media (max-width:600px) {
    .mediaTop {
      top: 670px;
    }
.header-2{
  min-width: 50%;
  margin-left: -4%
}
.load-btn{
  width: 56%;
  margin-left: 22%;
}
    .pok-info {
      position: absolute;
    }
    .pok-info-card{
      left: -30px;
    }
.post-wrapper{
  left: -30px;
  margin-bottom: 10px
}
    .card {
      height: 30%;
      max-width: 55% !important;
    }
  }

.post-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  height: 7%;
}


.pok-info {
  width: 100%;
}

.card-img-top{
  width: 100%;
  height: 100%;

}

.pok-info-card{
  min-height: 48%;

}

.card {
  height: 30%;
 max-width: 32%;
  text-align: center;
  min-width: 20%;
  min-height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
}


.card-title {
  font-size: 18px;
  font-weight: bold;
}
.favourite-items{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.types-wrapper {
  display: flex;
  justify-content: flex-start;
}

.btn-m {
  margin-right: 8px;
}
.active-el {
  background-color: #e9dddc;
}

.load-btn {
  margin-bottom: 15px;
}

